In [1]:
import sqlite3

In [2]:
## Define connection and cursor 
conn = sqlite3.connect('Wake_Housing.db')

In [3]:
c = conn.cursor()

In [4]:
# create and stores tables 

c.execute("""CREATE TABLE housing (
               SITE_ADDRE CHAR(50) PRIMARY KEY NOT NULL,
               CITY CHAR(50) NOT NULL,
               ZIP_CODE INTEGER NOT NULL,
               ZONING CHAR(50) NOT NULL,
               SALE_PRICE CHAR(50) NOT NULL,
               SALE_DATE CHAR(50) NOT NULL,
               BILLING_CLASS INTEGER NOT NULL,
               YEAR_BUILT INTEGER NOT NULL,
               UNITS INTEGER NOT NULL,
               DESIGN_STYLE CHAR(50) NOT NULL
               )""")

In [5]:
c.execute("""CREATE TABLE noise (
               SITE_ADDRE CHAR(50) NOT NULL,
               NOISE_CATEGORY INTEGER NOT NULL,
               AIR_NOISE INTEGER NOT NULL
               )""")

In [6]:
c.execute("""CREATE TABLE crime (
               CITY CHAR(50) PRIMARY KEY NOT NULL,
               YEAR_RANGE CHAR(50) NOT NULL,
               VIOLENT_CRIMES INTEGER NOT NULL,
               PROPERTY_CRIMES INTEGER NOT NULL,
               TOTAL_CRIMES INTEGER NOT NULL,
               FOREIGN KEY(CITY) REFERENCES housing(CITY)
               )""")

In [7]:
import pandas as pd


#import DF/ create DF

housing_df= pd.read_csv('ProjectTestData\housing_data_clean.csv')

#connect to DB/TABLES

housing_df.to_sql('housing', conn, if_exists='replace')

In [8]:
noise_df= pd.read_csv('ProjectTestData\Parcel_ExportTable_WithNoise_Cleaned.csv')

noise_df.to_sql('noise', conn, if_exists='replace')

In [9]:
crime_df= pd.read_csv('ProjectTestData\crime_count_data_clean.csv')

crime_df.to_sql('crime', conn, if_exists='replace')

In [10]:
#joining housing and crime tables
joined_housing_tables_df = '''
    SELECT *
    FROM housing
    LEFT JOIN crime ON housing.CITY = crime.CITY
    LEFT JOIN noise ON housing.SITE_ADDRESS = noise.SITE_ADDRESS
'''

house_crime_noise_df = pd.read_sql_query(joined_housing_tables_df, conn)

In [11]:
#close connection
conn.close

In [12]:
print(house_crime_noise_df)

         index  TOTAL_VALUE        SITE_ADDRESS     CITY  ZIP_CODE  \
0            0       249321      2457 BERTIE DR  RALEIGH     27610
1            1       159933  2848 PROVIDENCE RD  RALEIGH     27610
2            2       222624   409 S LAKESIDE DR  RALEIGH     27606
3            3       150723    540 MARSHBURN RD  WENDELL     27591
4            4       140801     605 WOODLAND RD  RALEIGH     27603
...        ...          ...                 ...      ...       ...
185926  185926       137044     6237 TEN TEN RD     APEX     27539
185927  185927       474932         500 KENT DR     CARY     27511
185928  185928       235612   1305 PONDEROSA DR  RALEIGH     27603
185929  185929       897806  1809 STILLWATER DR  RALEIGH     27607
185930  185930       552648     110 SHEPHERD ST  RALEIGH     27607

       PLANNING_JURISDICTION  ZONING  ACREAGE  HEATED_AREA  AGE  ...  \
0                         10     4.0     0.21         1828   59  ...
1                         10     4.0     0.46         1240   53  ...
2                         10     4.0     0.43         1037   24  ...
3                         14     3.0     0.46         2261  123  ...
4                          6     2.0     0.51          996   67  ...
...                      ...     ...      ...          ...  ...  ...
185926                    13     NaN     1.18         1456   36  ...
185927                     2     NaN     1.77         3110   26  ...
185928                    13     NaN     2.07         1640   61  ...
185929                    10     4.0     0.34         3202    6  ...
185930                    10     6.0     0.38         2170   84  ...

        TOTAL_VALUE  HEATED_AREA  SITE_ADDRESS  CITY PLANNING_JURISDICTION  \
0               NaN          NaN          None  None                  None
1               NaN          NaN          None  None                  None
2               NaN          NaN          None  None                  None
3               NaN          NaN          None  None                  None
4               NaN          NaN          None  None                  None
...             ...          ...           ...   ...                   ...
185926          NaN          NaN          None  None                  None
185927          NaN          NaN          None  None                  None
185928          NaN          NaN          None  None                  None
185929          NaN          NaN          None  None                  None
185930          NaN          NaN          None  None                  None

        YEAR_BUILT  STYLE  ZIP_CODE  NOISE_CATEGORY  AIR_NOISE
0              NaN   None      None             NaN        NaN
1              NaN   None      None             NaN        NaN
2              NaN   None      None             NaN        NaN
3              NaN   None      None             NaN        NaN
4              NaN   None      None             NaN        NaN
...            ...    ...       ...             ...        ...
185926         NaN   None      None             NaN        NaN
185927         NaN   None      None             NaN        NaN
185928         NaN   None      None             NaN        NaN
185929         NaN   None      None             NaN        NaN
185930         NaN   None      None             NaN        NaN

[185931 rows x 34 columns]