In [12]:
import sqlite3

In [13]:
## Define connection and cursor 
conn = sqlite3.connect('Wake_Housing.db')

In [14]:
c = conn.cursor()

In [15]:
# create and stores tables 

c.execute("""CREATE TABLE housing (
               SITE_ADDRE CHAR(50) PRIMARY KEY NOT NULL,
               CITY CHAR(50) NOT NULL,
               ZIP_CODE INTEGER NOT NULL,
               ZONING CHAR(50) NOT NULL,
               SALE_PRICE CHAR(50) NOT NULL,
               SALE_DATE CHAR(50) NOT NULL,
               BILLING_CLASS INTEGER NOT NULL,
               YEAR_BUILT INTEGER NOT NULL,
               UNITS INTEGER NOT NULL,
               DESIGN_STYLE CHAR(50) NOT NULL
               )""")

OperationalError: table housing already exists

In [16]:
c.execute("""CREATE TABLE noise (
               TOTAL_VALU INTEGER NOT NULL,
               SITE_ADDRE CHAR(50) NOT NULL,
               AIR_NOISE INTEGER NOT NULL
               )""")

OperationalError: table noise already exists

In [17]:
c.execute("""CREATE TABLE crime (
               CITY CHAR(50) PRIMARY KEY NOT NULL,
               YEAR_RANGE CHAR(50) NOT NULL,
               VIOLENT_CRIMES INTEGER NOT NULL,
               PROPERTY_CRIMES INTEGER NOT NULL,
               TOTAL_CRIMES INTEGER NOT NULL,
               FOREIGN KEY(CITY) REFERENCES housing(CITY)
               )""")

OperationalError: table crime already exists

In [18]:
import pandas as pd


#import DF/ create DF

housing_tabe_df= pd.read_csv('housing_data_clean.csv')

#connect to DB/TABLES

housing_tabe_df.to_sql('housing', conn, if_exists='replace')

185931

In [19]:
housing_tabe_df2= pd.read_csv('Parcel_ExportTable_WithNoise_Cleaned.csv')

housing_tabe_df2.to_sql('noise', conn, if_exists='replace')

10918

In [20]:
housing_tabe_df3= pd.read_csv('crime_count_data_clean_final.csv')

housing_tabe_df3.to_sql('crime', conn, if_exists='replace')

19

In [21]:
#joining tables


joined_housing_tables_df = '''
    SELECT *
    FROM housing
    LEFT JOIN crime ON housing.CITY = crime.CITY
'''

joined_crimehousing_df = pd.read_sql_query(joined_housing_tables_df, conn)

In [22]:
#close connection
conn.close

In [23]:
print(joined_crimehousing_df)

         index  TOTAL_VALUE        SITE_ADDRESS     CITY  ZIP_CODE  \
0            0       249321      2457 BERTIE DR  RALEIGH     27610
1            1       159933  2848 PROVIDENCE RD  RALEIGH     27610
2            2       222624   409 S LAKESIDE DR  RALEIGH     27606
3            3       150723    540 MARSHBURN RD  WENDELL     27591
4            4       140801     605 WOODLAND RD  RALEIGH     27603
...        ...          ...                 ...      ...       ...
185926  185926       137044     6237 TEN TEN RD     APEX     27539
185927  185927       474932         500 KENT DR     CARY     27511
185928  185928       235612   1305 PONDEROSA DR  RALEIGH     27603
185929  185929       897806  1809 STILLWATER DR  RALEIGH     27607
185930  185930       552648     110 SHEPHERD ST  RALEIGH     27607

        PLANNING_JURISDICTION  ZONING  ACREAGE  HEATED_AREA  AGE  ...  index  \
0                          10     4.0     0.21         1828   59  ...     12
1                          10     4.0     0.46         1240   53  ...     12
2                          10     4.0     0.43         1037   24  ...     12
3                          14     3.0     0.46         2261  123  ...     15
4                           6     2.0     0.51          996   67  ...     12
...                       ...     ...      ...          ...  ...  ...    ...
185926                     13     NaN     1.18         1456   36  ...      1
185927                      2     NaN     1.77         3110   26  ...      2
185928                     13     NaN     2.07         1640   61  ...     12
185929                     10     4.0     0.34         3202    6  ...     12
185930                     10     6.0     0.38         2170   84  ...     12

           CITY  PERSONAL_CHARGE_COUNT  PERSONAL_NAME_COUNT  \
0       RALEIGH                   4450                 2945
1       RALEIGH                   4450                 2945
2       RALEIGH                   4450                 2945
3       WENDELL                     69                   49
4       RALEIGH                   4450                 2945
...         ...                    ...                  ...
185926     APEX                    144                  112
185927     CARY                    404                  319
185928  RALEIGH                   4450                 2945
185929  RALEIGH                   4450                 2945
185930  RALEIGH                   4450                 2945

       PROPERTY_CHARGE_COUNT  PROPERTY_NAME_COUNT  DRUG_CHARGE_COUNT  \
0                       5035                 2634               3941
1                       5035                 2634               3941
2                       5035                 2634               3941
3                         68                   42                 61
4                       5035                 2634               3941
...                      ...                  ...                ...
185926                   215                  130                146
185927                   293                  187                239
185928                  5035                 2634               3941
185929                  5035                 2634               3941
185930                  5035                 2634               3941

        DRUG_NAME_COUNT  TOTAL_CHARGE_COUNT  TOTAL_NAME_COUNT
0                  2042               13426              7621
1                  2042               13426              7621
2                  2042               13426              7621
3                    29                 198               120
4                  2042               13426              7621
...                 ...                 ...               ...
185926               77                 505               319
185927              145                 936               651
185928             2042               13426              7621
185929             2042               13426              7621
185930             2042               13426              7621

[185931 rows x 23 columns]